<section id="banner">
  <div class="inner">
    <h2>Ваше название</h2>
    <p>Кратко о фирме / слоган / телефон / кнопка перехода на стр. обратной
      связи
    </p>
  </div>
  <a href="#one" class="more scrolly">Узнать больше</a>
</section>