<section id="banner">
  <div class="inner">
    <h2>idesy</h2>
    <p>interior design and decoration</p>
    <ul class="actions stacked">
      <li><a href="/contact" class="button fit primary">contact</a></li>
      <li><a href="/gallery" class="button fit">gallery</a></li>
    </ul>
  </div>
  <a href="#one" class="more scrolly">learn more</a>
</section>