<footer id="footer">
  <ul class="icons">
    <li><a
        href="https://www.vk.com"
        target="_blanc"
        class="icon brands fa-vk"
      ><span class="label">VK</span></a></li>
    <li><a
        href="https://t.me"
        target="_blanc"
        class="icon brands fa-telegram-plane"
      ><span class="label">Telegram</span></a></li>
    <li><a
        href="https://www.instagram.com"
        target="_blanc"
        class="icon brands fa-instagram"
      ><span class="label">Instagram</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy; Untitled</li>
    <!-- <li>Design: <a href="http://html5up.net">HTML5 UP</a></li> -->
  </ul>
</footer>