<footer id="footer">
  <ul class="icons">
    <li><a
        href="https://twitter.com/alexandermisyu1"
        target="_blanc"
        class="icon brands fa-twitter"
      ><span class="label">@alexandermisyu1</span></a></li>
    <li><a
        href="https://www.linkedin.com/in/alexander-misyura-940021239/"
        target="_blanc"
        class="icon brands fa-linkedin"
      ><span class="label">linkedin</span></a></li>
    <li><a
        href="https://github.com/AlexanderMisyura"
        target="_blanc"
        class="icon brands fa-github"
      ><span class="label">github</span></a></li>
  </ul>
  <ul class="copyright">
    <li>&copy;2022, Alexander Misyura</li>
    <li><a href="/credits">credits</a></li>
  </ul>
</footer>