<header id="header" class="{{headerClass}}">
  <h1><a href="index.html">Ваше название</a></h1>
  <nav class="top-nav">
    <ul>
      <li><a class="active-page" href="#">Главная страница</a></li>
      <li><a href="gallery.html">Галерея</a></li>
      <li><a href="contact.html">Связаться с нами</a></li>
      <li><a href="about.html">О нас</a></li>
    </ul>
  </nav>
  <nav id="nav" class="side-nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Меню</span></a>
        <div id="menu">
          <ul>
            <li><a href="/">Главная страница</a></li>
            <li><a href="gallery.html">Галерея</a></li>
            <li><a href="contact.html">Связаться с нами</a></li>
            <li><a href="about.html">О нас</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>