<!DOCTYPE HTML>
<html>	
  {{> _head}}
	<body class="landing is-preload">
		<div id="page-wrapper">
				{{> _header}}
				{{{body}}}			
				{{> _footer}}
		</div>
		{{> _scripts}}
		<script src="{{galleryScriptSrc}}"></script>
	</body>
</html>