<article id="main">
	<header>
		<h2>Страница о нас</h2>
		<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
	</header>
	<section class="wrapper style5">
		<div class="inner">
			<h3>Lorem ipsum dolor</h3>
			<p><span class="image left"><img src="/about/pexels-fauxels-3184432.jpg" alt="photo of our team"></span>Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis. Aenean tincidunt lectus auctor mauris maximus, ac scelerisque ipsum tempor. Duis vulputate ex et ex tincidunt, quis lacinia velit aliquet. Duis non efficitur nisi, id malesuada justo. Maecenas sagittis felis ac sagittis semper. Curabitur purus leo, tempus sed finibus eget, fringilla quis risus. Maecenas et lorem quis sem varius sagittis et a est. Maecenas iaculis iaculis sem. Donec vel dolor at arcu tincidunt bibendum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce ut aliquet justo. Donec id neque ipsum. Integer eget ultricies odio. Nam vel ex a orci fringilla tincidunt. Aliquam eleifend ligula non velit accumsan cursus. Etiam ut gravida sapien. Morbi mattis mi consectetur tortor elementum, varius pellentesque velit convallis.</p>
			<p><span class="image right"><img src="/about/pexels-fauxels-3184418.jpg" alt="our team holding hands"></span>Vestibulum ultrices risus velit, sit amet blandit massa auctor sit amet. Sed eu lectus sem.</p>
			<hr />
			<h4>Feugiat aliquam</h4>
			<p>Nam sapien ante, varius in pulvinar vitae, rhoncus id massa. Donec varius ex in mauris ornare, eget euismod urna egestas. Etiam lacinia tempor ipsum, sodales porttitor justo. </p>
			<p><span class="image left"><img src="/about/pexels-fox-1595385.jpg" alt="our team working"></span>Etiam iaculis nulla ipsum, et pharetra libero rhoncus ut. Phasellus rutrum cursus velit, eget condimentum nunc blandit vel. In at pulvinar lectus. Morbi diam ante, vulputate et imperdiet eget, fermentum non dolor. Ut eleifend sagittis tincidunt. Sed viverra commodo mi, ac rhoncus justo. Duis neque ligula, elementum ut enim vel, posuere finibus justo. Vivamus facilisis maximus nibh quis pulvinar. Quisque hendrerit in ipsum id tellus facilisis fermentum. Proin mauris dui, at vestibulum sit amet, auctor bibendum neque.</p>
			<hr />
		</div>
		<div class="inner">
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum, esse? Non atque placeat iure natus itaque molestias, error soluta deserunt, earum laboriosam minima quis delectus nam? Laudantium cumque architecto ipsa?</p>
			<div class="col-12">
				<div class="save-proportion-5x8">
					<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="100%" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br><style>.mapouter{position:relative;text-align:right;height:100%;width:100%;}</style><style>.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}</style></div></div>
				</div>
			</div>
		</div>
	</section>
	<section id="cta" class="wrapper style4">
		<div class="inner">
			<header>
				<h4>Нас можно найти по адресу</h5>
				<address>Город, улица, дом</address>
				<h4>Тел.:</h4><i class="fas fa-phone"></i>
				<a href="tel:+37529-000-00-00">+37529-000-00-00</a>
			</header>
			<ul class="actions stacked wider">
				<li><a href="/contact" class="button fit primary">написать нам</a></li>
				<li><a href="/gallery" class="button fit">Галерея</a></li>
			</ul>
		</div>
	</section>
</article>