					<article id="main">
						<header>
							<h2>Форма обратной связи</h2>
							<p>Aliquam ut ex ut interdum donec amet imperdiet eleifend</p>
						</header>
						<section class="wrapper">
							<div class="inner">

								<section>
									<h4>Форма обратной связи</h4>
									<form action="https://formspree.io/f/mbjwwjbb" method="POST">
										<div class="row gtr-uniform">
											<div class="col-4 col-12-small">
												<input type="text" name="user-name" id="user-name" value="" placeholder="Имя (обязательно)" required/>
											</div>
											<div class="col-4 col-12-small">
												<input type="tel" name="user-tel" id="user-tel" value="" placeholder="Тел. (обязательно)" required/>
											</div>
											<div class="col-4 col-12-small">
												<input type="email" name="user-email" id="user-email" value="" placeholder="Email"/>
											</div>											
											
											<div class="col-12">
												<textarea name="user-message" id="user-message" placeholder="Ваше сообщение" rows="6" maxlength="500"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><button type="submit" class="primary">Отправить</button></li>
													<li><input type="reset" value="Стереть" /></li>
												</ul>
											</div>
										</div>
									</form>
								</section>

							</div>
						</section>
					</article>