					<article id="main">
						<header>
							<h2>feedback form</h2>
							<p>feel free to contact</p>
						</header>
						<section class="wrapper">
							<div class="inner">

								<section>
									<h4>get free support</h4>
									<form action="https://formspree.io/f/mbjwwjbb" method="POST">
										<div class="row gtr-uniform">
											<div class="col-4 col-12-small">
												<input type="text" name="user-name" id="user-name" value="" placeholder="Name (required)" required/>
											</div>
											<div class="col-4 col-12-small">
												<input type="tel" name="user-tel" id="user-tel" value="" placeholder="Phone (required)" required/>
											</div>
											<div class="col-4 col-12-small">
												<input type="email" name="user-email" id="user-email" value="" placeholder="Email"/>
											</div>											
											
											<div class="col-12">
												<textarea name="user-message" id="user-message" placeholder="Enter your message" rows="6" maxlength="500"></textarea>
											</div>
											<div class="col-12">
												<ul class="actions">
													<li><button type="submit" class="primary">send message</button></li>
													<li><input type="reset" value="reset" /></li>
												</ul>
											</div>
										</div>
									</form>
								</section>

							</div>
						</section>
					</article>