<article id="main">
  <header>
    <h2>credits</h2>
  </header>
  <section class="wrapper style5">
    <div class="inner">
      <h3>Services that make web development easier:</h3>
      <ul>
        <li>design: <a href="https://html5up.net">html5up</a> and <a href="https://html5up.net/spectral">spectral</a> template in particular</li>
        <li>royalty free images: <a href="https://www.pexels.com/">pexels</a></li>
      </ul>
    </div>
  </section>
</article>