					<article id="main">
						<header>
							<h2>Галерея наших работ</h2>
							<p>Какой-нибудь текст или ничего</p>
						</header>
						<section class="wrapper">
							<div class="inner">
								<section>									
									<h4>Фильтр по категориям</h4>
									<form action="">
										<div class="row gtr-uniform">
											<div class="col-12">
												<select class="design-selector" name="design-category" id="design-category-selector">
													<option value="all">- Все категории -</option>
													<option value="kitchen">- Кухня -</option>
													<option value="livingroom">- Гостинная -</option>
													<option value="bedroom">- Спальня -</option>
													<option value="bathroom">- Ванная комната -</option>
													<option value="other">- Прочее -</option>
												</select>
											</div>
										</div>
									</form>									
									<div class="box alt">
										<div class="row gtr-50 gtr-uniform" id="gallery-container">
										</div>
									</div>									
								</section>
							</div>
						</section>
					</article>

          <section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>Оставьте заявку</h2>
								<p>Наши специалисты свяжутся с вами</p>
							</header>
							<ul class="actions stacked">
								<li><a href="/contact" class="button fit primary">написать нам</a></li>
							</ul>
						</div>
					</section>

    			<!-- modal -->
					<div class="modal">
						<div class="modal-content">
							<img class="main-img"/>
						</div>
					</div>