					<article id="main">
						<header>
							<h2>our projects</h2>
							<p>here are a few of our outstanding interior designs</p>
						</header>
						<section class="wrapper">
							<div class="inner">
								<section>									
									<h4>filter by categoies</h4>
									<form action="">
										<div class="row gtr-uniform">
											<div class="col-12">
												<select class="design-selector" name="design-category" id="design-category-selector">
													<option value="all">- All categories -</option>
													<option value="kitchen">- Kitchen -</option>
													<option value="livingroom">- Living room -</option>
													<option value="bedroom">- Bedroom -</option>
													<option value="bathroom">- Bathroom -</option>
													<option value="other">- Other -</option>
												</select>
											</div>
										</div>
									</form>									
									<div class="box alt">
										<div class="row gtr-50 gtr-uniform" id="gallery-container">
										</div>
									</div>									
								</section>
							</div>
						</section>
					</article>

          <section id="cta" class="wrapper style4">
						<div class="inner">
							<header>
								<h2>leave a request</h2>
								<p>our manager will contact you</p>
							</header>
							<ul class="actions stacked">
								<li><a href="/contact" class="button fit primary">contact us</a></li>
							</ul>
						</div>
					</section>

    			<!-- modal -->
					<div class="modal">
						<div class="modal-content">
							<img class="main-img"/>
						</div>
					</div>