<!-- Banner -->
<!-- change banner to "../../images/pexels-sammsara-luxury-modern-home-1099816\ \(1\).jpg" css main search - "../../images/banner.jpg" -->
	{{> _banner}}					
<!-- One -->

	<section id="one" class="wrapper special">
		<div class="inner">
			<header class="major">
				<h2>Interior design<br />
				and decoration</h2>
				<p>for residential<br />
				and commertial projects<br /></p>
			</header>
			<ul class="actions stacked">
				<li><a href="/contact" class="button fit primary">contact</a></li>
				<li><a href="/gallery" class="button fit">gallery</a></li>
			</ul>
		</div>
	</section>
<!-- Two -->
	<section id="two" class="wrapper alt">
		<section class="spotlight">
			<div class="content">
				<h2>non-standard tasks?</h2>
				<p>non-standard solutions</p>
			</div>
			<div class="image"><img src="index/pexels-anna-nekrashevich-8993922.jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>Looking for ideas?</h2>
				<p>Just take a glance at our design decisions for some inspiration</p>
			</div>
			<div class="image"><img src="index/pexels-curtis-adams-8583755 (1).jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>studio apartment</h2>
				<p>Functionality and comfort</p>
			</div>
			<div class="image"><img src="index/pexels-hakim-santoso-6529128 (1).jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>cozy living room</h2>
				<p>calming design that soothes you after a long day or the bright one that lets you host your demanding guests</p>
			</div>
			<div class="image"><img src="index/pexels-max-vakhtbovych-6580396 (.jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>decorating solutions<br />
				for your business</h2>
				<p>We provide great ideas for corporate and small-scale commercial projects</p>
			</div>
			<div class="image"><img src="index/pexels-rachel-claire-5863530 (1).jpg" alt="" /></div>
		</section>
	</section>
<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h4>location</h5>
			<address>2880 Broadway, New York, NY 10025</address>
			<h4>call us</h4><i class="fas fa-phone"></i>
			<a href="tel:+37529-000-00-00">+37529-000-00-00</a>
		</header>
		<ul class="actions stacked wider">
			<li><a href="/about" class="button fit">about us</a></li>
		</ul>
	</div>
</section>