<!-- Banner -->
<!-- change banner to "../../images/pexels-sammsara-luxury-modern-home-1099816\ \(1\).jpg" css main search - "../../images/banner.jpg" -->
	{{> _banner}}					
<!-- One -->

	<section id="one" class="wrapper special">
		<div class="inner">
			<header class="major">
				<h2>Немного о том,<br />
				чем занимается наша компания</h2>
				<p>Занимается тем-то и тем-то<br />
				А еще этим и этим<br />
				Делаем то-то и то-то</p>
			</header>
			<ul class="actions stacked">
				<li><a href="about.html" class="button fit">Подробнее о нас</a></li>
			</ul>
		</div>
	</section>
<!-- Two -->
	<section id="two" class="wrapper alt">
		<section class="spotlight">
			<div class="content">
				<h2>Первый вариант<br />
				интерьера</h2>
				<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. in voluptatibus, cumque voluptatem consequatur animi? Velit quibusdam alias facilis.</p>
			</div>
			<div class="image"><img src="index/pexels-anna-nekrashevich-8993922.jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>И еще один<br />
				вариант</h2>
				<p>adipisicing elit. Quibusdam pariatur e minima beatae recusandae in voluptatibus, cumque voluptatem consequ</p>
			</div>
			<div class="image"><img src="index/pexels-curtis-adams-8583755 (1).jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>Третий...<br />
					можно сделать еще</h2>
				<p>tetur adipisicing elit. Quibusdpisci minima ue voluptatem consequatur animi? Velit quibusdam alias facilis</p>
			</div>
			<div class="image"><img src="index/pexels-hakim-santoso-6529128 (1).jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>4<br />
				...</h2>
				<p>tetur adipisicing elit. Quibusdam pariatur expedecusandae in voluptatibus, cumque voluptatem consequatur animi? Velit quibusdam alias facilis</p>
			</div>
			<div class="image"><img src="index/pexels-max-vakhtbovych-6580396 (.jpg" alt="" /></div>
		</section>
		<section class="spotlight">
			<div class="content">
				<h2>5<br />
				...</h2>
				<p>Quibusdam pariatur expedita corrupti ipor luptatibus nimi? Velit quibusdam alias facilis</p>
			</div>
			<div class="image"><img src="index/pexels-rachel-claire-5863530 (1).jpg" alt="" /></div>
		</section>
	</section>
<!-- CTA -->
<section id="cta" class="wrapper style4">
	<div class="inner">
		<header>
			<h4>Наш адрес</h5>
			<address>Город, улица, дом</address>
			<h4>Тел.:</h4><i class="fas fa-phone"></i>
			<a href="tel:+37529-000-00-00">+37529-000-00-00</a>
		</header>
		<ul class="actions stacked wider">
			<li><a href="contact.html" class="button fit primary">написать нам</a></li>
			<li><a href="gallery.html" class="button fit">Галерея</a></li>
		</ul>
	</div>
</section>